/*--------------------------background image*/
.main-photo{
    background: url("http://getwallpapers.com/wallpaper/full/e/5/3/884434-dungeons-and-dragons-wallpapers-1920x1080-for-desktop.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 70px;
    margin:0;
    min-height: 70vh;

}
.content-section {
    padding-top: 1rem;
    padding-bottom: 7.5rem;

}
.caption-content .caption{
    color: #fff;
    margin: auto 2rem 2rem;
    font-size: 8rem;

}
/*--------------------------Login*/
.modal-login {
    color: #636363;
    width: 350px;

}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;

}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;

}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;

}
.modal-login .form-control:focus {
    border-color: #70c5c0;

}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px !important;

}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;

}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;

}
.modal-login .modal-footer a {
    color: #999;

}
.modal-login.modal-dialog {
    margin-top: 80px;

}
.modal-login .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;

}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #45aba6;
    outline: none;

}

.form-control {
    box-shadow: none;
    border-color: #e1e4e5;
    width: 245px;

}
.form-control:focus {
    border-color: #49c1a2;

}
.form-control, .btn {
    border-radius: 5px !important;
    padding: 5px;
    margin: 4px 2px;

}
/*--------------------------Signup*/
.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;

}
.signup-form form {
    color: #9ba5a8;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    padding: 30px;

}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;

}
.signup-form hr {
        margin: 0 -30px 20px;

}
.signup-form .form-group {
		margin-bottom: 20px;

}
.signup-form label {
    font-weight: normal;
    font-size: 13px;

}
.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #49c1a2;
    border: none;
    min-width: 140px;

}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #3cb094;
    outline: none !important;

}
.signup-form a {
    color: #fff;
    text-decoration: underline;

}
.signup-form a:hover {
		text-decoration: none;

}
.signup-form form a {
    color: #49c1a2;
    text-decoration: none;

}
.signup-form form a:hover {
		text-decoration: underline;

}
.btn_small{
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header{
    margin-top: 2px;

}
/*--------------------------Menu*/
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.nav-link {
    color: #ffffff !important;
    font-family: 'Raleway', sans-serif;
}
/*.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}*/

.container{
    padding: 25px;
    padding-top: 100px

}
.container_footer{
    padding: 10px;
}
.photo{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.text {
  color: #000000;
  font-size: 20px;

}
.content_heading{
    font-family: 'Raleway', sans-serif;
}
a{
   color:#000000!important;
   text-decoration: none!important;
   background-color: transparent;

}
a:hover{
    color: #a71d2a!important;

}
/*--------------------------Text*/
.container_title{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100px;

}

/*--------------------------Collapse*/
.collapsible {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;

}
.collapsible:after {
    content: '\002B';
    font-size: 25px;
    color: #a71d2a;
    float: right;
    margin-left: 5px;

}
.active:after {
  content: "\2212";

}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;

}

/*--------------------------Classes*/
.class_name{
    margin: 20px;
    padding-left: 40px;

}

/*--------------------------Comments*/
.card{
    border-radius: 25px!important;
    border: 1px solid #6c757d!important;
    margin: 6px;

}
.container_comment{
    padding-top: 15px;
    padding-left: 15px;

}
.reply_btn{
    padding: 15px;

}
.btn-primary{
    color: #ffffff!important;

}

/*--------------------------Title Section*/
.mb-5{
    margin-top: 5px!important;
    margin-bottom: 3px!important;


}
.article_text, .forum_question{
    text-align: justify!important;

}

hr{
    border-top: 3px solid #a71d2a!important;

}

/*--------------------------Forum*/
.card-link a {
    color: #a71d2a!important;
    font-size: 15px;

}

.author_name {
    text-transform: uppercase!important;

}
/*--------------------------Spells*/
.class_spell{
    padding: 5px;
    display: inline-block;
    padding-left: 55px;

}


@media(min-with:767px){
    .main-photo{
        background: url("http://getwallpapers.com/wallpaper/full/e/5/3/884434-dungeons-and-dragons-wallpapers-1920x1080-for-desktop.jpg");
    }
}