
.masterhead{
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 70px;
     margin:0;
     min-height: 70vh;

}

.img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;

}
.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;

}
section {
    display: block;
}
.caption-content .caption{
    color: #fff;
    margin: auto 2rem 2rem;
    font-size: 8rem;

}
.modal-login {
    color: #636363;
    width: 350px;

}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;

}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;

}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;

}
.modal-login .form-control:focus {
    border-color: #70c5c0;

}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px !important;

}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;

}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;

}
.modal-login .modal-footer a {
    color: #999;

}
.modal-login.modal-dialog {
    margin-top: 80px;

}
.modal-login .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;

}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #45aba6;
    outline: none;

}

.form-control {
    box-shadow: none;
    border-color: #e1e4e5;
    width: 245px;

}
.form-control:focus {
    border-color: #49c1a2;

}
.form-control, .btn {
    border-radius: 5px !important;
    padding: 5px;
    margin: 4px 2px;

}
.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;

}
.signup-form form {
    color: #9ba5a8;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    padding: 30px;

}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;

}
.signup-form hr {
        margin: 0 -30px 20px;

}
.signup-form .form-group {
		margin-bottom: 20px;

}
.signup-form label {
    font-weight: normal;
    font-size: 13px;

}
.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #49c1a2;
    border: none;
    min-width: 140px;

}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #3cb094;
    outline: none !important;

}
.signup-form a {
    color: #fff;
    text-decoration: underline;

}
.signup-form a:hover {
		text-decoration: none;

}
.signup-form form a {
    color: #49c1a2;
    text-decoration: none;

}
.signup-form form a:hover {
		text-decoration: underline;

}
.btn_small{
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header{
    margin-top: 8px;

}
.nav-item .nav-item{
    color: #ffffff!important;
    font-family: 'Raleway', sans-serif;
    display: block;
    padding: .5rem 1rem;

}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);

}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;

}
.container-guides{
    background-color: #ffffff;
    min-height: 50vh;
    display:block;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    padding: 25px;

}
.container_footer{
    padding: 10px;
}
.photo{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.text {
  color: #000000;
  font-size: 20px;

}
.content_heading{
    font-family: 'Raleway', sans-serif;
    padding: 25px;
}
a{
   color:#000000!important;
   text-decoration: none!important;
   background-color: transparent;

}

/*--------------Menu-Bar*/
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.nav-link{
    color: #ffffff!important;
    font-family: 'Raleway', sans-serif;

}

/*-------Text--*/
.container_title{
    padding: 10px;
    min-height: 100px;

}

/*-------Collapsible--*/
.collapsible {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;

}
.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: #000000;
    float: right;
    margin-left: 5px;

}
.active:after {
  content: "\2796";

}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;

}

/*--------Classes--*/
.class_name{
    margin: 20px;
    padding-left: 40px;

}

/*------Comments---*/
.card{
    border-radius: 25px!important;
    border: 1px solid #6c757d!important;
    margin: 6px;

}
.container_comment{
    padding-top: 15px;
    padding-left: 15px;

}
.reply_btn{
    padding: 15px;

}
.btn-primary{
    color: #ffffff!important;

}

