{% extends 'base.html' %} {% block content %}

    <div class="content_heading text-center">
        <h2 class="mb-5">Articles</h2>
    </div>

{% for article in articles %} {% if loop.index % 2 != 0 %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
        <h2><a href="/articles/{{ article.url }}">{{ loop.index }}. {{ article.name }}</a></h2>
            <p class="post-meta">{{ article.author }} </p>
        </div>
    </div>
</div>

{% else %}
    <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
        <h2><a href="/articles/{{ article.url }}">{{ loop.index }}. {{ article.name }}</a></h2>
            <p class="post-meta">{{ article.author }} </p>
         </div>
    </div>

    </div>
{% endif %} {% if loop.index != 8 %}


{% endif %} {% endfor %}

    </div>

{% endblock %}