{% extends 'base.html' %} {% block content %}

  <div class="content_heading text-center">
        <h2 class="mb-5">Guides</h2>
    </div>
 <!-- Guides -->
  <section class="content-section" id="guide">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="guide-item" href="{{ url_for('get_battle') }}">
            <span class="caption">
              <span class="caption-content">
                <h2>Batlles</h2>
              </span>
            </span>
            <img class="img-fluid" src="static/img/battles.jpg" alt="battles">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="guide-item" href="{{ url_for('get_races') }}">
            <span class="caption">
              <span class="caption-content">
                <h2>Races</h2>
              </span>
            </span>
            <img class="img-fluid" src="static/img/races.jpg" alt="races">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="guide-item" href="{{ url_for('get_classes') }}">
            <span class="caption">
              <span class="caption-content">
                <h2>Classes</h2>
              </span>
            </span>
            <img class="img-fluid" src="static/img/classes.jpg" alt="classes">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="guide-item" href="{{ url_for('get_spells') }}">
            <span class="caption">
              <span class="caption-content">
                <h2>Spells</h2>
              </span>
            </span>
            <img class="img-fluid" src="static/img/spells5.jpg" alt="spells">
          </a>
        </div>
      </div>
    </div>
  </section>

{% for guide in guides %}
    <div class="task_header col s9">
        <button class="collapsible"><h2>{{ guide.title }}</h2></button>
        <div class="content">
        <h5>Level:</h5>
            <p>{{ guide.level }}</p>
        <h5>Setting:</h5>
            <p>{{ guide.setting }}</p>
        <h5>Description:</h5>
            <p>{{ guide.description }}</p>
        </div>
    </div>
<hr>

 {% endfor %}


    <script>
    const coll = document.getElementsByClassName("collapsible");
    let i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    const content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}

    </script>

{% endblock %}



