{%  extends 'base.html' %} {% block content %}

<section class="container">
    <div class="content_heading text-center">
        <h2 class="mb-5">Edit Comment:</h2>
    </div>

<div class="signup-form">
        <div class="col-md-4 col-md-offset-4">

            <form action="{{ url_for('update_comment', comment_id=comments._id) }}" method="POST" class="col s12">


                <div class="form-group">
                    <textarea id="comment_id" name="reply_name" class="materialize-textarea" rows="7">{{comments.reply_name}}</textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit" name="action">Submit</button>
                </div>
             </form>

        </div>
</div>
</section>
{% endblock %}

