{%  extends 'base.html' %} {% block content %}
<section class="container">
    <div class="content_heading text-center">
        <h2 class="mb-5">Forum</h2>
    </div>

            <form action="{{ url_for('insert_questions')}}" method="POST" class="col s12">
                 <input type="hidden" name="username" value="{{users.name}}">

                {% for  question in questions  %}
                    <h4><a class="forum_question" type="hidden" name="question_name" value="{{question.question_name}}" href="{{url_for('reply_question', question_id=question._id, question_name=question.question_name)}}">{{ question.question_name }}</a></h4>
                    <div class="author_name">Author: {{ question.username }} </div>

                    <hr>
                {% endfor %}

            <div class="container_comment">

                <label for="comment"><h4>Ask a Question:</h4></label>
            <textarea name="question_name" id="question_name" class="form-control" rows="7" id="comment"></textarea>
<div class="reply_btn">
    <button class="btn btn-primary" type="submit" name="action">Ask</button>
 </div>
            </div>
        </form>
</section>
{% endblock %}

<!--Modal-->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-login">
        <div class="modal-content">
            <div class="modal-header">
				<h4 class="modal-title">Edit your comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
            <div class="modal-body">
            <form method=POST action="{{ url_for('login') }}">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="pass" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Log In</button>
                </div>
            </form>
            </div>
                <div class="modal-footer">Don't have an account? <br><a href="{{ url_for('register') }}">Sign up here</a>.</div>
        </div>
    </div>