{% extends 'base.html' %} {% block content %}

    <!-- About -->

    <div class="container text-center ">
        <div class="row">
            <div class="col-xs-12">
                <h2>Welcome to D&D Portal</h2>
                <p class="lead mb-5">
                   Dungeons & Dragons is a fantasy tabletop role-playing game (RPG).
                    It is normally played indoors with the participants seated around a tabletop. Typically, each player controls only a single character, which represents an individual in a fictional setting.
                     This new kind of game has become immensely popular over the years, and D&D has grown to include many new ways to vividly experience worlds of heroic fantasy.
                </p>
            </div>
        </div>
    </div>


    <!--Guide-->
    <a name="guides">
    <div class="content_heading text-center">
        <h2 class="mb-5">Guides</h2>
    </div>
    <div class="row_guide">
            <div class="column  col-lg-6">
                <a class="photo" href="{{ url_for('get_battle') }}">
                    <div class="middle">
                        <div class="text">Battles</div>
                    </div>
                    <img class="rounded-circle mr-3"  height=200 width=200 src="static/img/battles.jpg">
                </a>
            </div>
             <div class="column  col-lg-6">
                <a class="photo" href="{{ url_for('get_classes') }}">
                    <div class="middle">
                        <div class="text">Classes</div>
                    </div>
                    <img class="rounded-circle mr-3"  height=200 width=200 src="static/img/classes.jpg">
                </a>
            </div>
             <div class="column  col-lg-6">
                <a class="photo" href="{{ url_for('get_races') }}">
                    <div class="middle">
                        <div class="text">Races</div>
                    </div>
                    <img class="rounded-circle mr-3" height=200 width=200 src="static/img/races.jpg">
                </a>
            </div>
             <div class="column  col-lg-6">
                <a class="photo" href="{{ url_for('get_spells') }}">
                    <div class="middle">
                        <div class="text">Spells</div>
                    </div>
                    <img class="rounded-circle mr-3"  height=200 width=200 src="static/img/spells5.jpg">
                </a>
            </div>

    </div>
    </a>



   <!--Modal-->
        <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-login">
        <div class="modal-content">
            <div class="modal-header">
				<h4 class="modal-title">Member Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
            <div class="modal-body">
            <form method=POST action="{{ url_for('login') }}">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="pass" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Log In</button>
                </div>
            </form>
            </div>
                <div class="modal-footer">Don't have an account? <br><a href="{{ url_for('register') }}">Sign up here</a>.</div>
        </div>
    </div>
    </div>



{% endblock %}