{%  extends 'base.html' %} {% block content %}

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-login">
        <div class="modal-content">
            <div class="modal-header">
				<h4 class="modal-title">Member Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
            <div class="modal-body">
            <p class="text-center">You need to be logged.</p>
                 <a class="nav-link" href="{{ url_for('index') }}">Ok</a>
            </div>
                <div class="modal-footer">Don't have an account? <br><a href="{{ url_for('register') }}">Sign up here</a>.</div>
        </div>
    </div>
    </div>

{% endblock %}