{% extends 'base.html' %} {% block content %}

 <a href="{{url_for('spells_level')}}" class="waves-effect waves-light btn btn_small blue">Level</a>

{% for spell in spells %}
      <div class="accordion task_header col s9" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         {{ spell.title }}
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>{{ spell.level}}</p>
        <p>{{ spell.casting_time }}</p>
        <p>{{ spell.range }}</p>
        <p>{{ spell.duration }}</p>
        <p>{{ spell.damage }}</p>
        <p>{{ spell.description }}</p>
      </div>
    </div>
  </div>
</div>


 {% endfor %} {% endblock %}


