{% extends 'base.html' %} {% block content %}

{% for class in classes %}
    <a name="class_name" value="{{ class.title }}" href="{{url_for('spells_name', class_name=class.title) }}" class="waves-effect waves-light btn btn_small blue">{{ class.title }}</a>

{% endfor %}

    {% for spell in spells %}
    <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Cantrip
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="panel-body">
        <p>{{ spell.title}}</p>
        <p>{{ spell.casting_time }}</p>
        <p>{{ spell.range }}</p>
        <p>{{ spell.duration }}</p>
        <p>{{ spell.damage }}</p>
        <p>{{ spell.description }}</p>
      </div>
    </div>
  </div>
    {% endfor %}





{% endblock %}
