{% extends 'base.html' %} {% block content %}

{% for spell in spellevel %}
    <div class="task_header col s9">
       <p>{{ spell.title}}</p>
        <p>{{ spell.level}}</p>
    <p>{{ spell.casting_time }}</p>
      <p>{{ spell.range }}</p>
       <p>{{ spell.duration }}</p>
       <p>{{ spell.damage }}</p>
      <p>{{ spell.description }}</p>
    <p>{{ spell.class }}</p>
   </div>
<hr>
{% endfor %}

 {% for spell in spellevel1 %}
    <div class="task_header col s9">
       <p>{{ spell.title}}</p>
        <p>{{ spell.level}}</p>
    <p>{{ spell.casting_time }}</p>
      <p>{{ spell.range }}</p>
       <p>{{ spell.duration }}</p>
       <p>{{ spell.damage }}</p>
      <p>{{ spell.description }}</p>
    <p>{{ spell.class }}</p>
   </div>
<hr>

{% endfor %}

{% endblock %}
test