{% extends 'base.html' %} {% block content %}

<section class="container">
  <div class="content_heading text-center">
        <h2 class="mb-5">Guides</h2>
    </div>
  <!-- Guides -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="guide-item" href="{{ url_for('get_battle') }}">
            <span class="caption">
              <span class="caption-content">
                <h2>Batlles</h2>
              </span>
            </span>
            <img class="img-fluid" src="static/img/battles.jpg" alt="battles">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="guide-item" href="{{ url_for('get_races') }}">
            <span class="caption">
              <span class="caption-content">
                <h2>Races</h2>
              </span>
            </span>
            <img class="img-fluid" src="static/img/races.jpg" alt="races">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="guide-item" href="{{ url_for('get_classes') }}">
            <span class="caption">
              <span class="caption-content">
                <h2>Classes</h2>
              </span>
            </span>
            <img class="img-fluid" src="static/img/classes.jpg" alt="classes">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="guide-item" href="{{ url_for('get_spells') }}">
            <span class="caption">
              <span class="caption-content">
                <h2>Spells</h2>
              </span>
            </span>
            <img class="img-fluid" src="static/img/spells5.jpg" alt="spells">
          </a>
        </div>
      </div>
    </div>


   <div class="class_name">

    <a name="spell_name" value="cantrip" href="{{url_for('get_spells') }}" class="waves-effect waves-light btn btn_small blue"><h4>Cantrip</h4></a>
    <a name="spell_name" value="spell_name" href="{{url_for('spells_first') }}" class="waves-effect waves-light btn btn_small blue"><h4>First Level</h4></a>
    <a name="spell_name" value="spell_name" href="{{url_for('spells_second') }}" class="waves-effect waves-light btn btn_small blue"><h4>Second Level</h4></a>
    <a name="spell_name" value="spell_name" href="{{url_for('spells_third') }}" class="waves-effect waves-light btn btn_small blue"><h4>Third Level</h4></a>
    <a name="spell_name" value="spell_name" href="{{url_for('spells_fourth') }}" class="waves-effect waves-light btn btn_small blue"><h4>Fourth Level</h4></a>

   </div>
<div class="text-center">
 <h2>Fourth Level</h2>
    <hr>
</div>
    {% for spell in spells3 %}
       <div class="task_header col s9">
        <button class="collapsible"><h2>{{ spell.title }}</h2></button>
        <div class="content">
            <h4>Casting Time:</h4>
                <p>{{ spell.casting_time }}</p>
            <h4>Range:</h4>
                <p>{{ spell.range }}</p>
            <h4>Duration:</h4>
                <p>{{ spell.duration }}</p>
            <h4>Damage:</h4>
                <p>{{ spell.damage }}</p>
            <h4>Description:</h4>
                <p>{{ spell.description }}</p>
        </div>
       </div>

    {% endfor %}


</section>
    <script>
    const coll = document.getElementsByClassName("collapsible");
    let i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    const content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}

    </script>

{% endblock %}